* {
    color: black;
    font-family: 'Pathway Gothic One', sans-serif;
    /* font-size: 0; */
    line-height: 0;
    -webkit-padding-start: 0px;
}
li {
    list-style-type: none;
}
a {
    text-decoration: none;
}
header a {
    font-family: 'Pathway Gothic One', sans-serif;
    text-decoration: none;
    text-transform: uppercase;
}
h2 { 
    /* title 'top destinition' */
    font-family: 'Pathway Gothic One', sans-serif;
    color: #263555;
    font-size: 32px;
    text-transform: uppercase;
    font-weight: normal;
    -webkit-margin-before: 0;
    -webkit-margin-after: 0;
    margin-bottom: 45px;
}
h4 {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    color: #263555;
    font-size: 12px;
    line-height: 15px;
    text-transform: uppercase;
    -webkit-margin-before: 0;
    -webkit-margin-after: 0;
}
p {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 10px;
    line-height: 15px;
    color: #4e5050;
    margin-bottom: 13px;
    -webkit-margin-before: 0;
    -webkit-margin-after: 0;
}
header {
    width: 1024px;
    height: 234px;
    margin: 0 auto;
    padding: 46px 96px 0;
    box-sizing: border-box;
}
.navigation {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
nav > ul > li {
    display: inline-block;
    vertical-align: baseline;        
}
nav > ul > li > a:hover + ul {
    opacity: 1;
}
.navigation > li > a {
    color: #fff;
    font-size: 28px;
    font-weight: normal;
}
.navigation > li > a:hover {
    color: #263555;
}
.navigation > li:nth-child(2) {
    display: flex;
    flex-direction: column;
    align-items: center;
    /* margin-top: -11px; */
}
.drop-menu::before {
    /* .triangle-top -- recomended by school*/
    content:'';
    position: absolute;
    left: 22px;
    top: -5px;
    display: inline-block;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 10px 15px 10px;
    border-color: transparent transparent #fff transparent;
}
.drop-menu {
    margin-top: 41px;
    width: 66px;
    height: 88px;
    position: absolute;
    /* overflow: hidden; */
    opacity: 0;
    background-color: white;
    text-align: center;
    padding-top: 10px;
    /* padding-bottom: 10px; */
    padding-left: 0px;
    box-sizing: border-box;
    border-radius:5px;
   
    /* position:relative;
    display:inline-block; */
    /* padding:10px;
    min-height:30px;
    min-width:100px;
    margin-right:30px;
    text-align:left; */
}
.drop-menu > li > a {
    color: #263555;
    /* font-family: 'Pathway Gothic One', sans-serif; */
    font-size: 20px;
    /* text-decoration: none;
    text-transform: uppercase; */
}
.wrapper {
    width: 1024px;
    margin: 0 auto 0;
    padding: 111px 60px 0;
    background-color: #ffffff;
    box-sizing: border-box;
    display: flex;
    /* justify-content: space-around; */
    /* overflow: inherit; */
}
main {
    overflow: inherit;
    width: 672px;
    margin-right: 40px;
}
article {
    width: inherit;
    overflow: inherit;
}
.date-block {
    padding-right: 71px;
    margin-bottom: 13px;
}
.date {
    display: flex;
    justify-content: center;
    align-items: center;
    float: left;
    width: 30px;
    height: 30px;
    background-color: #38afe5;
    border-radius: 30px;
    margin-right: 13px;
    
}
time {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 8px;
    line-height: 8px;
    color: #fff;
    text-align: center;
}
.autor_comments {
    display: flex;
    justify-content: space-between;
}
.date-block p:first-child {
    /* float: left; */
    display: inline-block;
}
.date-block p:last-child {
    /* float: right; */
    display: inline-block;
    text-align: right;
}
article img {
    float: left;
    margin-right: 20px;
}
.clearfix img + p {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    color: #263555;
    font-size: 12px;
    line-height: 15px;
}
.clearfix p:last-child, p:nth-child(3) {
    text-align: justify;
}
.details-button {
    display: flex;
    box-sizing: border-box;
    /* position: absolute; */
    left: 72px;
    bottom: 19px;
    width: 63px;
    height: 22px;
    background-color: #fbf6fa;
    border-radius: 5px;
    border: 1px solid #9f9696;
    margin-bottom: 48px;
}
.details-button a {
    font-family: Arial, Helvetica, sans-serif;
    color: #000;
    font-size: 12px;
    margin: auto;
    text-transform: none;
}
article::after {
    content: '';
    display: flex;
    justify-content: center;
    margin-bottom: 48px;
    border-bottom: 1px solid #e4e4e4;
}
aside ul li a::before {
    content: url(../img/li_arrow.png);
    float: left;
    margin-right: 10px;    
    width: 10px;
    height: 7px;
}
aside ul > li a {
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    line-height: 30px;
    color: #263555;
}
aside ul {
    margin-bottom: 57px;
}
.to-top {
    background-color: #38afe5;
    width: 30px;
    height: 30px;
    border-radius: 30px;
    position: fixed;
    bottom: 5vh;
    right: 13vw;
    box-sizing: border-box;
    vertical-align: baseline;
    padding: 3px 10px;
}
.to-top > img {
    /* margin: 10px auto; */
}
.to-top a {
    text-decoration: none;
    width: 30px;
    height: 30px;
}
.clearfix::after {
    content: "";
    display: table;
    clear: both;
}
footer {
    /* display: flex; */
    background-color: #30455b;  
    width: 1024px;
    height: 133px;
    padding: 45px 140px 0;
    margin: auto;
    box-sizing: border-box;
    column-count: 4;
}
footer > a {
    display: block;
    font-family: 'Open Sans Condensed';
    font-style: normal;
    font-size: 16px;
    margin-bottom: 16px;
    text-transform: uppercase;
    color: #fff;
}
.contacts p:first-child {
    font-family: 'Open Sans Condensed';
    font-style: normal;
    font-size: 16px;
    margin-bottom: 16px;
    text-transform: uppercase;
    color: #fff;
}
.contacts > p, a {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    line-height: 19px;
    text-transform: none;
    color: #fff;
    
}

body {
    background-image: url('../img/bg.png');
}
body > img {
    opacity: 0.5;
    position: absolute;
    left: 163px;
    top: 0px;
}